/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
img { max-width: 100%; }
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

html,
body {
    height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}
/* Box Sizing Micro hack */


/*
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
*/


/*=====================================*\
    #GENERAL
\*=====================================*/

body {
    font-size: 16px;
    /*100%*/
    
    font-family: 'Lytigapro', sans-serif;
    background-image: url(images/lines.png);
}

.header_wrapper {
    width: 71.063em;
    height: 5.438em;
    margin: 0 auto;
}

.wrapper {
    width: 71.063em;
    margin: 0 auto;
}

@font-face {
    font-family: 'LytigaPro';
    src: url('font/LYTIGAPRO-BLACK.OTF'), url('font/lytigapro-black-webfont.eot'), url('font/lytigapro-black-webfont.wof'), url('font/lytigapro-black-webfont.wof2');
}

.float-left { float: left; }
.overflow-item { overflow: auto; }
/*=====================================*\
    #HEADER
\*=====================================*/

.main_header {
    background-color: #041421;
    height: 5.438em;
    margin-left: 8px;
/*    width: 100%;*/
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.logo {
    /*        width: 16.125em;*/
    /*        height: 2.375em;*/
}

.logo img {
    width: 3.813em;
    height: 3.5em;
    margin: 1em 1.25em 1em 0;
    float: left;
}

.logo h1 {
    color: #ffffff;
    /*            font-size: 1.732em;*/
    
    width: 6.125em;
    height: 2.375em;
    margin: 1.563em 0 1.563em 0;
    padding: 0;
    float: left;
}

.logo span {
    color: #35e6af;
}

.main_nav {
/*    width: 37.05em;   */
    padding: 4.125em 0 0 10em;
    float: right;
}

.main_nav li {
    display: inline-block;
    margin-left: 2.25em;
}

.main_nav li:first-child {
    margin: 0;
}

.main_nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: .75em;
}

.user_header {
    width: 7.313em;
    margin: 3.25em 0 0 4.5em;
    float: right;
    color: #acacac;
    position: relative;
    border-bottom: 8px solid #522b95;
    padding: 0 0 .25em 0;
}

.user_header p {
    font-size: 11px;
}

.user_header span {
    display: block;
    font-weight: 700;
}

.user_header img {
    width: 10px;
    height: 5px;
    top: .75em;
    left: 105px;
    position: absolute;
}

.header-wrapper {
    width: 59.0625em;
    overflow: auto;
    float: left;
     border-bottom: 1px solid rgba(4, 20, 33, 0.5);
}




/*=====================================*\
    #MAIN
\*=====================================*/

.main-content {
    /*    overflow: auto;*/
    
    margin-left: 8px;
    position: relative;
    
}

.overlay {
    height: 100%;
    position: absolute;
    right: -14px;
    top: 0;
    z-index: 3;
    width: 393px;
}
    .overlay img { 
        height: 100%; 
        width: 100%;
    }

.overlay--purple {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 393px;
}
     .overlay--purple img { 
         height: 100%;
         max-width: 100%;
     }




#banner-slide {
/*
    position: relative;
    z-index: 1;
*/
    max-height: 694px;
    
} 
/* search */

.search-wrapper {
    background-color: rgba(255, 255, 254, 1);
/*    width: 100%;*/
    padding: .5em;
    position: relative;
    z-index: 3;
}

.search-box {
/*    width: 59.0625em;*/
    overflow: auto;
}

.search-input {
    outline: 0;
    border: none;
    background-color: rgba(255, 255, 254, 1);
    width: 11.5em;
    color: #b3b5b6;
    font: italic .75em 'LytigaPro';
}

.small-heading {
    color: #041421;
    font: 400 .75em 'LytigaPro';
    float: right;
    text-transform: uppercase;
}

.clearfix {
    clear: both;
}
/* Promotions */

.promotions {
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    z-index: 4;
    padding: .625em 0;
}

.promotion-item {
    display: inline-block;
    margin-right: 1.19375em;
    box-shadow: 5px 5px 5px #ccc;
}

.promotion-item:last-child { margin: 0; }

.promotion-item figcaption { padding: .625em; }

.promotion-item-heading {
    color: #000;
    font: 400 1em 'LytigaPro';
    text-transform: uppercase;
    display: inline;
}

.medium-heading {
    color: #04131f;
    font: bold 1em 'LytigaPro';
    text-transform: uppercase;
}
/* styles for table like elements */

.table-row figcaption {
    color: #a7adb2;
    font: 400 .625em LytigaPro;
    background-color: #ffffff;
    
}

.show-time {
    float: right;
}
/*=====================================*\
    #FOOTER
\*=====================================*/

.content-footer {
    background-color: rgba(4, 20, 33, 1);
    overflow: auto;
    min-height: 6.875em;
}

.footer-item-first { padding: 1.25em 4.0625em 1.25em 0; }
.footer-item-second { padding: 1.25em 0 1.25em 1.9375em; }

.footer-item--larger { padding: 1.25rem 2.625rem 1.25rem 2.875rem; } /* rem because font is set to 10px */

.footer-heading {
    color: #ffffff;
    font: 700 12px LytigaPro;
    text-transform: uppercase;
    padding-bottom: 1.0625em;
}

.footer-list {
    color: #ffffff;
    font: 300 10px LytigaPro;
}

.footer-item,
.footer-item--larger {
    color: #ffffff;
    font: 300 10px LytigaPro;
    box-sizing: border-box;
}

.footer-list {
    list-style: none;
}


.first-list-footer-sub  { padding-right: 4.875em; }
.second-list-footer-sub { padding-right: 3.25em; }
.third-list-footer-sub { padding-right: 2.5625em; }

.social-share {
    padding: 1.5em 0 1.1875em;
}

.social-share li {
    display: inline;
    padding-right: 1.3125em;
}

.footer-slanted-line { padding-top: 1.25em; }

.slanted-line {
    width: 1px;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
    height: 71px;
    background-color: #ffffff;
}

/*=====================================*\

    #COPYRIGHT

\*=====================================*/

.copyright {
    width: 100%;
    margin: 0 auto;    
    background-color: #030e1a;
}

    .copyright span {
        font: 400 10px LytigaPro;
        color: #35e6af;
    }

.copyright-list { 
    list-style: none; 
    float: right;
}
    .copyright-list li {
        display: inline;
    }
        .copyright-list li a { 
            text-decoration: none;
            color: #ffffff;
            font: 400 12px LytigaPro;
            
        }
/*=====================================*\
    #LOGIN
\*=====================================*/

.rr-left_login {
    background: url(images/Group-11-copy.png);
}